body {
    background-image: url("http://www.edenluxurytravel.co.uk/Eden%20Collection%20Images/Country%20and%20Map%20%20Images/Maldives/Maldives%20Hero%20Image.tif?RenditionID=23");
    background-size: cover; 
}

.nav-link , .navbar-brand{ 
  color: #05000c63; cursor: pointer;
  font-family: 'Roboto', serif;
}
  
.nav-link{ 
  margin-right: 1em !important;
  color: #69636e;
}
  
.navbar-collapse{ 
  justify-content: flex-end;
}
  
.navbar-toggler{  
  background:#a18ef5 !important;
}
  
.navbar-collapse{
  justify-content: flex-end;
}
  
.navbar button{
  border:1px  solid rgba(236, 232, 238, 0.137);
  background-color:#755b8a81!important;
}

.wrapper {
    
  max-width: 1400px;
  margin: 50px auto 0 auto;
    
}

.form-row {
    
  display: flex;
  
  justify-content: flex-start;
}

.form-row button{
  flex:1;
  box-sizing: border-box;
}

.form-row label {
  padding-right: 10px;
  box-sizing: border-box;
  width: 30%;
}

.form-row input {
  box-sizing: border-box;
  width: 60%;
}
  
.special-card {
    /* create a custom class to avoid  issues with bootstraps styles */
      
  padding: 20px;
  margin-bottom: 20px;
  flex-basis: 50%;
  box-sizing: border-box;
  background-color: whitesmoke;
  opacity: .6;
  box-shadow: 0 0 20px #ccc; 
  flex:1;
    
}
  
.card h1 {
  font-size:4vw;
  text-shadow: 4px 4px 4px #aaa;
  font-family: 'Libre Baskerville', serif;
  color: #3a2f36;
  text-align: center; 
}
  
.card h3 {
  font-size:2vw;
  text-shadow: 4px 4px 4px #aaa;
  font-family: 'Libre Baskerville', serif;
  color: #3a2f36;
  text-align: center; 
}
  
.card p {
  font-family: 'Roboto', sans-serif;
  text-align: justify;
  font-weight: bolder; 
}
  
 
  